
.updateusercontent{
    width: 450px;
    height: 250px;
    border-top: 1px solid silver;
    position: absolute;
    left: 50%;
    top: 22%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.txtbox {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background-color: #45a049;
}
